<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Message Board</h1>
    <p>Post your messages below: </p>
    <form method="post" action="/message/new">
      <div>
        <label for="content">New Message: </label>
        <textarea id="content" name="content" placeholder="Enter your message..." required></textarea>
      </div>
      <div>
        <label for="user">Your Name: </label>
        <input type="text" id="user" name="user" required />
      </div>
      <button type="submit">Submit</button>
    </form>
    <% if (messages.length) { %>
      <p>Messages: </p>
      <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
          <li>
            <p><%= messages[i].content %></p>
            <small>by <%= messages[i].user %> on <%= messages[i].createdAt.toLocaleString() %></small>
          </li>
        <% } %>
      </ul>
    <% } %>
    <%- include("navbar", { links }) %>
  </body>
</html>
